* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 17px;
}

body {
  background-color: black;
  color: #fff;
  padding-top: 100px;
}

/* * {
  color: #fff;
  text-decoration: none;
} */

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#logo {
  /* margin-left: -8.1vw;
  margin-top: -1vh; */
  position: absolute;
  height: 30%;
  width: 30%;
  padding-left: 0;
  z-index: 100;
  top: 0;
  left: 0;
}

.card {
  background-color: #1f2833;
  opacity: 0.9;
  /* margin-right: -5vw;
  margin-left: 8vw;*/
  margin-top: 1vh; 
}

.content {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
  font-size: 2em;
  margin-left: 7.9vw;
  margin-bottom: 28vh;
}
/* 
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
} */

/* #myBtn:hover {
  background: #ddd;
  color: black;
}
.main-btn {
  background-color: #337ab7;
  width: 250px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 0.5em;
  text-transform: uppercase;
  margin-top: 50px;
  cursor: pointer;
}  */
