/* * {
  box-sizing: border-box;
} */

body {
  margin: 0;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 17px;
}

body {
  background-color: black;
  color: #fff;
  padding-top: 7em;
}

/* * {
  color: #fff;
  text-decoration: none;
} */

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* #panel{
  opacity: 0.8
} */

.card {
  background-color: #1f2833;
  opacity: 0.8;
}

/* .content {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
  font-size: 2em;
}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}
.main-btn {
  background-color: #337ab7;
  width: 250px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 0.5em;
  text-transform: uppercase;
  margin-top: 50px;
  cursor: pointer;
} */
